.container.portfolio {
	text-align: center;
}

.col_portfolio {
	padding: 25px;
}

.portfolio_thumb:hover {
	text-decoration: none;
}

.portfolio_thumb {
	padding: 20px;
	word-spacing: normal !important;
	word-wrap: break-word;
}

.portfolio_thumb h3, h5{
	padding: 15px 0 0;
}

.portfolio_thumb h5 {
	font-size: 15px;
}

.portfolio .thumbnail {
	border-radius: 0%;
}

.portfolio_thumb_img {
	height: 150px;
	border: solid 1px #04A7CC;
}